*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	}
h3 {
	font-family: 'Lato', sans-serif;
	color: #BCBBBB;
	}
h1,h2,h4 {
	font-family: 'Lato', sans-serif;
	color: #747704;
	}
h1 {
	font-weight: 300;
	}
hr {
	color: #BCBBBB;
    background-color: #BCBBBB;
    height:3px;
	}
